backend/node_modules/
frontend/node_modules/
backend/.env
backend/dist/
frontend/.env
frontend/.next/**
frontend/dist/
node_modules/
backend/.next/
frontend/.next/
backend/dist/
frontend/dist/
node_modules/

